<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert</title>

<style>
	div{
		border:2px solid green;
		padding:30px;
		position: fixed;
		top:26%;
		left:40%;
	}
	input{
		margin:5px;
	}
</style>

</head>
<body>
	<form action="/Insert" method="post">
	
	<div align="center">
		Name: <input type="text" name="name" placeholder="Enter your Name"> <br>
		Mobile:<input type="number" name="mobile" placeholder="Enter 10 digit no"> <br>
		Gender:<input type="radio" name="gender" value="male">Male 
			   <input type="radio" name="gender" value="female">Female <br>
		e-mail:<input type="email" name="email" placeholder="abc@gmail.com"> <br>
		Marks: <br>
		Kannada:<input type="number" name="kannada"> <br>
		English:<input type="number" name="english"> <br>
		IT:<input type="number" name="it"> <br>
		<button>Submit</button>
		
	</div>
	</form>
</body>
</html>